<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Error</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
	<nav>
		<div class='nav-wrapper'style="border-radius: 10px;">
			<a class="waves-effect waves-light btn" id='back'>Back</a>
	  		<a class="brand-logo center" id="title">Error</a>
		</div>
	</nav>
	<p align="center" style="background-color: #4db6ac; min-height: 100rem; border-radius: 10px;">That Page Does Not Exist</p>
	<script>
		const back = document.getElementById('back');
		back.addEventListener('click', e => {
			window.location.href = '/';
		});
	</script>
</body>
</html>