<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Chat App</title>
	<script defer src="script.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
	<div id="room-contaner">
		<% Object.keys(rooms).forEach(room => { console.log(rooms); if (rooms[room].public == "on") {return;}%>
		<div><%= room; %></div>
		<a href="/<%= room %>" class="waves-effect waves-light btn">Join</a>
		<% }) %>

	</div>
	<form action='/room' method="POST">
			<input placeholder="Room Name" name="room" type='text' required>
			  <div class="switch">
				<label>
				  Public
				  <input type="checkbox" name='private'>
				  <span class="lever"></span>
				  Private
				</label>
			  </div>
			  <br>
			<button type="submit" class="waves-effect waves-light btn">New Room</button>
	</form>
</body>
</html>