<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script>
		const roomName = "<%= roomName %>"
	</script>
	<title><%= roomName %> | Chat App</title>
	<script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
	<script defer src="../owner.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>
	<nav style="border-radius: 10px;">
		<div class='nav-wrapper'>
			<a class="waves-effect waves-light btn" id='back'>Back To Home</a>
			<a class="waves-effect waves-light btn" id='name'>Change Your Name</a>
			<a class="waves-effect waves-light btn" id='settings'>Settings</a>
			<a class="brand-logo center" id="title"><%= roomName %></a>
		</div>
	</nav>
<div class="row">
	<div class="col s2" style="background-color: #828282; min-height: 100rem; border-radius: 10px;">
	<div class='contaner' align="center">

	<div id='user-contaner'>
		<p>Members In <%= roomName %></p>
	</div>
	</div>
	</div>
	<div class="col s10" style="background-color: #4db6ac; min-height: 100rem; border-radius: 10px; ">
	<div class='contaner' align="center">
	<div id='message-contaner'>
		<p>Start Of Chat</p>
	</div>
		<form id='send-message-form'>
			
			<input placeholder="Message" type='text' rows="4" cols="50" form="send-message-form" id="message-input" style="background-color: rgba(0,0,0,0.15)" required autocomplete="off"></input>
			<br>
			<button type='submit' id='send-message' class="waves-effect waves-light btn">Send</button>
		</form>
	</div>
</div>
</div>
<footer class="page-footer">
  <div class="container">
	<div class="row">
	  <div class="col l6 s12">
		<h5 class="white-text">Chat App</h5>
		<p class="grey-text text-lighten-4">This Chat App is ment to not have you sign in, so that means it does not collect your data, or any data about anything! There will be private rooms, and public rooms. Public rooms are shown on the main page. Private rooms need a link.</p>
	  </div>
	  <div class="col l4 offset-l2 s12">
		<h5 class="white-text">Links</h5>
		<ul>
		  <li><a class="grey-text text-lighten-3" href="https://github.com/OreoDivision/chat-app-oreo" target="_blank">GitHub</a></li>
		  <li><a class="grey-text text-lighten-3" href="https://discord.com/invite/9kvTg7Pk5W" target="_blank">Discord</a></li>
		  <li><a class="grey-text text-lighten-3" href="https://github.com/OreoDivision/chat-app-oreo/issues" target="_blank">Report Issue</a></li>
		  <li><a class="grey-text text-lighten-3" href="https://www.taskade.com/d/AjDQGcMqEVdw6EgX?share=view&view=dtP5qeBzR9kZ46ea" target="_blank">Comming Soon List</a></li>
		</ul>
	  </div>
	</div>
  </div>
  <div class="footer-copyright">
	<div class="container">
	© 2021 OreoDivision
	</div>
  </div>
</footer>
</body>

</html>