<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Chat App</title>
	<script>
		const roomName = "<%= roomName %>"
	</script>
	<script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
	<script defer src="script.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>
	<nav>
		<div class='nav-wrapper'>
			<a class="waves-effect waves-light btn" id='back'>Back To Home</a>
			<a class="waves-effect waves-light btn" id='name'>Change Your Name</a>
			<a class="brand-logo center" id="title"><%= roomName %></a>
			
		</div>
	</nav>
	<br>
	<div id='user-contaner'>
		<p>Members In <%= roomName %></p>
	</div>
	<br>
	<div id='message-contaner'>
		<p>Start Of Chat</p>
	</div>
		<form id='send-message-form' align="center">
			
			<textarea placeholder="Message" rows="4" cols="50" form="send-message-form" id="message-input" required></textarea>
			<button type='submit' id='send-message' class="waves-effect waves-light btn">Send</button>
		</form>
</body>

</html>