<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Wyvern | Rooms</title>
	<script defer src="../rooms.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">	
	<link rel="shortcut icon" type="image/x-icon" href="https://cdn.discordapp.com/attachments/826150434581643264/827516742280544287/Icon.png">
</head>
<body>
	<nav style="border-radius: 5px; background-color: #83ce73;">
		<div class='nav-wrapper'>
			<a>⠀⠀</a>

			<a class="waves-effect waves-light btn" id='home' style="background-color: #538548">Home</a>
			<a class="btn disabled" id='rooms' style="background-color: #538548">Rooms</a>
			<a class="brand-logo center">Wyvern</a>
		</div>
	</nav>
	<div class='contaner' align="center">
	<div style="background-color: #77b868; min-height: 100rem; border-radius: 10px; ">

			<div id="room-contaner">
				<p>Rooms</p>
				<% Object.keys(rooms).forEach(room => { console.log(rooms); if (rooms[room].public == "on") {return;} %>
				<div><%= room; %></div>
				<a href="/<%= room %>" class="waves-effect waves-light btn" style="background-color: #538548">Join</a>
				<% }) %>

			</div>
		</div>
	</div>

<footer class="page-footer" style="background-color: #83ce73">
  <div class="container">
	<div class="row">
	  <div class="col l6 s12">
		<h5 class="white-text">Wyvern</h5>
		<p class="grey-text text-lighten-4">Wyvern is ment to not have you sign in, so that means it does not collect your data, or any data about anything! There will be private rooms, and public rooms. Public rooms are shown on the main page. Private rooms need a link.</p>
	  </div>
	  <div class="col l4 offset-l2 s12">
		<h5 class="white-text">Links</h5>
		<ul>
		  <li><a class="grey-text text-lighten-3" href="https://github.com/OreoDivision/wyvern" target="_blank">GitHub</a></li>
		  <li><a class="grey-text text-lighten-3" href="https://discord.com/invite/9kvTg7Pk5W" target="_blank">Discord</a></li>
		  <li><a class="grey-text text-lighten-3" href="https://github.com/OreoDivision/wyvern/issues" target="_blank">Report Issue</a></li>
		  <li><a class="grey-text text-lighten-3" href="https://www.taskade.com/d/AjDQGcMqEVdw6EgX?share=view&view=dtP5qeBzR9kZ46ea" target="_blank">Comming Soon List</a></li>
		</ul>
	  </div>
	</div>
  </div>
  <div class="footer-copyright">
	<div class="container">
	© 2021 OreoDivision
	</div>
  </div>
</footer>
</body>
</html>