<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script>
		const roomName = "<%= roomName %>"
	</script>
	<title><%= roomName %> | Chat App</title>
	<script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
	<script defer src="../script.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>
	<nav style="border-radius: 10px;">
		<div class='nav-wrapper'>
			<a id='back'>⠀⠀⠀</a>
			<a class="waves-effect waves-light btn" id='back'>Back To Home</a>
			<a class="waves-effect waves-light btn" id='name'>Change Your Name</a>
			<a class="brand-logo center" id="title"><%= roomName %></a>
		</div>
	</nav>
<div class="row">
	<div class="col s2" style="background-color: #828282; min-height: 100rem; border-radius: 10px;">
	<div class='contaner' align="center">

	<div id='user-contaner'>
		<p>Members In <%= roomName %></p>
	</div>
	</div>
	</div>
	<div class="col s10" style="background-color: #4db6ac; min-height: 100rem; border-radius: 10px; ">
	<div class='contaner' align="center">
	<div id='message-contaner'>
		<p>Start Of Chat</p>
	</div>
		<form id='send-message-form'>
			
			<textarea placeholder="Message" type='text' rows="4" cols="50" form="send-message-form" id="message-input" style="background-color: rgba(0,0,0,0.15)" required></textarea>
			<br>
			<button type='submit' id='send-message' class="waves-effect waves-light btn">Send</button>
		</form>
	</div>
</div>
</div>
</body>

</html>