<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Chat App</title>
	<script>
		const roomName = "<%= roomName %>"
	</script>
	<script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
	<script defer src="script.js"></script>
</head>

<body>
	<nav>
		<div class='nav-wrapper'>
			<a class="waves-effect waves-light btn" id='back'>Back</a>
	  		<a class="brand-logo center" id="title"><%= roomName %></a>
		</div>
	</nav>
	<br>
	<div id='user-contaner'>
		<p>Members In <%= roomName %></p>
	</div>

	<div id='message-contaner'>
		<form id='send-message-form'>
			<input type="text" id="message-input" required>
			<br>
			<label>Name</label>
			<input type="text" id="name-input">
			<button type='submit' id='send-message' class="waves-effect waves-light btn">Send</button>
		</form>
	</div>

</body>

</html>