<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Wyvern</title>
	<script>
		const roomName = "<%= roomName %>"
	</script>
	<script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
	<script defer src="../settings.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link rel="shortcut icon" type="image/x-icon" href="https://cdn.discordapp.com/attachments/826150434581643264/827516742280544287/Icon.png">
</head>

<body>
	<nav style="border-radius: 5px; background-color: #83ce73;">
		<div class='nav-wrapper'>
			<a>⠀⠀</a>
			<a class="waves-effect waves-light btn" id='back' style="background-color: #538548">Back To <%= roomName %></a>
			<a class="brand-logo center" id="title"><%= roomName %> Settings</a>
		</div>
	</nav>
<div style="background-color: #77b868; min-height: 100rem; border-radius: 10px;">
<div class="container" >
	<div align="center">
	<form id='public-switch'>
		<div class="switch">
				<label style="color: white;">
				  Public
				  <% if(rooms[roomName].public == 'on'){ %>
				  <input type="checkbox" id='private'checked>
				  <% } else { %>
				  <input type="checkbox" id='private'>
				  <% } %>
				  <span class="lever"></span>
				  Private
				</label>
			  </div>
			  <br>
			<div id='saved-public'></div>
			<button type="submit" class="waves-effect waves-light btn" style="background-color: #538548">Save</button>
	</form>
	<br>
	<br>
	<button class="waves-effect waves-light btn" style="background-color: #538548" id='delete'>DELETE ROOM</button>
<div class="row">
	<div class="col s4">
	</div>
	<div class="col s4">
	<form id='slowmode'>
		<p style="color: white; size: 20rem" >Slowmode Value (In Seconds)</p>
		<input type="number" id="slowmode-Value" required autocomplete="off" style="background-color: #538548; border-radius: 10px;" placeholder="Number" min="1">
		<br>
		<div id='saved-slowmode'></div>
		<button class="waves-effect waves-light btn" style="background-color: #538548" type="submit">Save</button>
	</form>	
</div>
</div>
	</div>
</div>
</div>
<footer class="page-footer" style="background-color: #83ce73">
  <div class="container">
	<div class="row">
	  <div class="col l6 s12">
		<h5 class="white-text">Wyvern</h5>
		<p class="grey-text text-lighten-4">Wyvern is ment to not have you sign in, so that means it does not collect your data, or any data about anything! There will be private rooms, and public rooms. Public rooms are shown on the main page. Private rooms need a link.</p>
	  </div>
	  <div class="col l4 offset-l2 s12">
		<h5 class="white-text">Links</h5>
		<ul>
		  <li><a class="grey-text text-lighten-3" href="https://github.com/OreoDivision/wyvern" target="_blank">GitHub</a></li>
		  <li><a class="grey-text text-lighten-3" href="https://discord.com/invite/9kvTg7Pk5W" target="_blank">Discord</a></li>
		  <li><a class="grey-text text-lighten-3" href="https://github.com/OreoDivision/wyvern/issues" target="_blank">Report Issue</a></li>
		  <li><a class="grey-text text-lighten-3" href="https://www.taskade.com/d/AjDQGcMqEVdw6EgX?share=view&view=dtP5qeBzR9kZ46ea" target="_blank">Comming Soon List</a></li>
		</ul>
	  </div>
	</div>
  </div>
  <div class="footer-copyright">
	<div class="container">
	© 2021 OreoDivision
	</div>
  </div>
</footer>
</body>

</html>